{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block wrapper %}
{% include "admin/header.html" %}
{% endblock wrapper %}

{% block extra_style %}
  
<style type="text/css">
    .errornote {
      width: 100%;
      margin-top: 0.25rem;
      font-size: .875em;
      color: var(--bs-form-invalid-color);
  }
</style>
{% endblock extra_style %}


{% block content %}

{% block page_header %}

{% endblock page_header %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

<div id="content-main" class="card shadow border" style="width: 850px; align-items: center;">
  <img style="height: auto; max-width: 50%; padding-top: 20px;" 
  src="{% static 'assets/img/aamarpay_logo.png' %}">
  <h4 style="color: #898989;">Welcome to aamarpay</h4>
  {% if user.is_authenticated %}
  <p class="errornote">
      You are authenticated as {{ username }}, but are not authorized to
      access this page. Would you like to login to a different account?
  </p>
  {% endif %}

  <form action="{{ app_path }}" style="width: 700px;" class="p-5 pt-1" method="post" id="login-form">{% csrf_token %}
    <div class="form-row">
      
      <label for="id_username" class="required">Email address:</label> 
      <input type="text" class="form-control" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="254" required id="id_username">
    </div>
    <div class="form-row pt-1">
      
      <label for="id_password" class="required">Password:</label> 
      <input class="form-control" type="password" name="password" autocomplete="current-password" required id="id_password">
      <input type="hidden" name="next" value="/">
    </div>
    
    
    {% url 'admin_password_reset' as password_reset_url %}
    {% if password_reset_url %}
    <div class="password-reset-link pt-1">
      <a href="{{ password_reset_url }}">{% translate 'Forgotten your password or username?' %}</a>
    </div>
    {% endif %}
    <div class="submit-row pt-1">
      <input class="btn btn-primary" type="submit" value="{% translate 'Log in' %}">
    </div>
  </form>

</div>

{% endblock %}
