{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}
{% load static %}

{% block object-tools-items %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


<!-- XDSoft DateTimePicker -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

<form action="{% url 'expense-report-xl' %}" method="POST">
    {% csrf_token %}
    <li>
        <input type="date" name="date1"  style="background-color: #333333;color: #fff;border: none;padding: 4.5px 12px;border-radius: 14px;margin: 0;">
    </li>
    
    <li>
        <input type="date" name="date2" style="background-color: #333333;color: #fff;border: none;padding: 4.5px 12px;margin: 0;border-radius: 14px;">
    </li>
    
    <li>
        <input type="submit" value="Make-Report" style="background-color: #333333;color: #fff;border: none; padding: 6px 12px;margin: 0;border-radius: 14px;" class="add-link">
    </li>
    {{ block.super }}
</form>


{% endblock %}